NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=
YOOKASSA_SHOP_ID=1325507
YOOKASSA_SECRET_KEY=test_wGfR3wssC2NVaBEtKmNElp4EhcUpxtIREGCkcl3Yzq0
NEXT_PUBLIC_YANDEX_METRIKA_ID=
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=
NEXT_PUBLIC_CAPTCHA_SITE_KEY=

