{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "proseWrap": "always",
  "overrides": [
    {
      "files": [
        "frontend/**/*.{js,jsx,ts,tsx}",
        "frontend/**/*.{css,scss,md,mdx}"
      ],
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
